target/**

.classpath

**/.idea/

**/.idea/**/**

.settings/**

.settings/org.eclipse.jdt.core.prefs

.project

indexEC2.csv

indexEC2.xls

*.iml

*.log

output.xlsx


~$output_sap.xlsx

output_sap.xlsx

*output*.xlsx

input_sap_correto.xlsx

input_sap_harpreet.xlsx

input_sap_old.xlsx

input_sap_melissa.xlsx

input_sap_spasaude.xlsx

out/artifacts/ProposalCalculator_jar/log4j-api-2.7.jar

out/artifacts/ProposalCalculator_jar/ProposalCalculator.jar

output_sap_colunas_para_remover.xlsx

output_sap_old.xlsx

input_sap_angelo.xlsx

out/artifacts/ProposalCalculator_jar/Archive.zip
indexEC2-columns.csv
.DS_Store
~$input_generic.xlsx
indexS3.csv
load_ec2_pricelist_into_dynamodb/index_ec2_prices.json
load_ec2_pricelist_into_dynamodb/load_into_dynamodb.pyc
out/artifacts/ProposalCalculator/Archive.zip
out/artifacts/ProposalCalculator/ProposalCalculator.jar
